:root{
    --menu-img-size: 40px;
    --player-btn-size: 50px;
    --player-progress-bar-thumb-height: 20px;
    --player-progress-bar-thumb-width: 10px;
    --sidebar-img-size: 40px;
}

/* --- */

*{
    padding: 0 !important;
    margin: 0 !important;
}

body{
    height: 100vh;
}

.c-content > .col-3{
    padding: 10px !important;
    
}

.c-content > .col-3 button{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    border-radius: 5px;
}

.c-content > .col-3 button > img{
    height: var(--sidebar-img-size);
    width: var(--sidebar-img-size);
}

.c-content > .col-3 button > p{
    display: grid;
    justify-self: center;
    align-self: center;
    width: 100%;
}

.dir-col{
    flex-direction: column;
}

.dir-row{
    flex-direction: row;
}

li.divider{
    height: 0px;
    border: 1px solid #000000;
    margin: 10px !important;
}

.hidden{
    display: none;    
}

#menu-btn{
    border: none;
    background-color: inherit;
}

.show-content > input{
    display: flex !important;
}
.show-content > div{
    display: flex !important;
}

@media screen and (max-width: 720px){
    #menu-btn{
        height: 50px !important;
        width: 50px !important;
    }

    #window-menu{
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
    }

    .window-menu-content{
        height: inherit;
        width: 70%;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border-right: 1px solid #000000;
        padding: 2% !important;
    }

    .c-navbar{
        height: 50px;
    }
    .c-navbar div{
        height: 50px;
    }
    .c-content{
        height: calc(78vh - 50px);
    }
    .hide-on-720px{
        display: none;
    }
    
    .show-content > div{
        display: block;
    }
    .show-content > input{
        display: block;
    }
    .show-on-720px{
        display: flex;
    }
    #window-import-choice{
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
    }
    #window-import-choice > div{
        height: 100%;
    }
    .window-import-choice-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border: 1px solid #000000;
        height: 100vh;
        width: 100vw;
        padding: 2% !important;
    }
    
    .window-import-choice-content > div{
        width: 100%;
        display: flex;
    }
    .window-menu-content button{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        background-color: transparent;
        border-radius: 10px !important;
    }
    .window-menu-content h5{
        width: 100%;
        padding-bottom: 10px !important;
    }
    .window-menu-content button > img{
        height: var(--menu-img-size);
        width: var(--menu-img-size);
    }
    .window-menu-content p{
        margin-left: 10px;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .wicc-1{
        height: 10%;
        align-items: end;
        justify-content: center;
    }
    .wicc-2{
        height: 10%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .wicc-3{
        height: 65%;
    }
    .wicc-4{
        height: 15%;
        align-items: center;
        justify-content: space-evenly;
    }
    #wicc-textarea{
        resize: none;
        width: 100%;
        height: 100%;
    }
    #wmc-close{
        height: var(--player-btn-size);
        width: var(--player-btn-size);
        border: none;
        background-color: transparent;
    }
}

@media screen and (min-width: 720px) {
    .row{
        padding: 0 5% 0 5% !important;
    }
    .c-navbar{
        height: 5vh;
    }
    .hide-on-720px{
        display: block;
    }
    .show-on-720px{
        display: none !important;
    }
    .c-content{
        height: 80vh;
        width: 100vw;
        overflow: hidden;
    }
    
    #window-import-choice{
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.548);
        overflow: auto;
    }
    #window-import-choice > div{
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .window-import-choice-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border: 1px solid #000000;
        height: 500px;
        width: 500px;
        padding: 2% !important;
    }
    .window-import-choice-content > div{
        width: 100%;
        display: flex;
    }
    .wicc-1{
        height: 10%;
        align-items: start;
        justify-content: center;
    }
    .wicc-2{
        height: 10%;
        align-items: start;
        justify-content: center;
    }
    .wicc-3{
        height: 70%;
    }
    .wicc-4{
        height: 10%;
        align-items: end;
        justify-content: end;
    }
    #wicc-textarea{
        resize: none;
        width: 100%;
        height: 100%;
    }
    
}