:root{
    --player-btn-size: 50px;
    --player-progress-bar-thumb-height: 20px;
    --player-progress-bar-thumb-width: 10px;
}

/* --- Remove Old Styles --- */
input[type=range]{
    -webkit-appearance: none;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]:focus{
    outline: none;
}

/* --- Thumb Styles --- */
input[type=range][orient=horizontal]::-webkit-slider-thumb{
    border: 1px solid #000000;
    border-radius: 0;
    height: var(--player-progress-bar-thumb-height);
    width: var(--player-progress-bar-thumb-width);
    border-bottom-left-radius: calc(var(--player-progress-bar-thumb-width) / 2);
    border-bottom-right-radius: calc(var(--player-progress-bar-thumb-width) / 2);
    box-shadow: 1px 1px 1px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range][orient=horizontal]::-moz-range-thumb{
    border: 1px solid #000000;
    border-radius: 0;
    height: var(--player-progress-bar-thumb-height);
    width: var(--player-progress-bar-thumb-width);
    border-bottom-left-radius: calc(var(--player-progress-bar-thumb-width) / 2);
    border-bottom-right-radius: calc(var(--player-progress-bar-thumb-width) / 2);
    box-shadow: 1px 1px 1px #000000, 0px 0px 0px #0d0d0d;
    
}

input[type=range][orient=horizontal]::-ms-thumb{
    border: 1px solid #000000;
    border-radius: 0;
    height: var(--player-progress-bar-thumb-height);
    width: var(--player-progress-bar-thumb-width);
    border-bottom-left-radius: calc(var(--player-progress-bar-thumb-width) / 2);
    border-bottom-right-radius: calc(var(--player-progress-bar-thumb-width) / 2);
    box-shadow: 1px 1px 1px #000000, 0px 0px 0px #0d0d0d;
}
/* --- Slider Styles --- */
input[type=range][orient=horizontal]::-moz-range-track{
    width: calc(100% + 2px - (var(--player-progress-bar-thumb-width) / 2));
    height: 8px;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 0.5px #000000;
    background: #e2e2e2;
    border-radius: 2px;
    border: 0.5px solid #010101;
}
/* --- Audio Slider --- */
input[type=range][orient=vertical]{
    writing-mode: bt-lr; /* for IE */
    -webkit-appearance: slider-vertical;
    height: 100px;
    width: 10px;
}

input[type=range][orient=vertical]::-webkit-slider-thumb{
    border: 1px solid #000000;
    border-radius: 0;
    height: var(--player-progress-bar-thumb-height);
    width: var(--player-progress-bar-thumb-width);
    border-top-right-radius: calc(var(--player-progress-bar-thumb-width) / 2);
    border-bottom-right-radius: calc(var(--player-progress-bar-thumb-width) / 2);
    box-shadow: 1px 1px 1px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range][orient=vertical]::-moz-range-thumb{
    border: 1px solid #000000;
    border-radius: 0;
    height: var(--player-progress-bar-thumb-width);
    width: var(--player-progress-bar-thumb-height);
    border-top-right-radius: calc(var(--player-progress-bar-thumb-width) / 2);
    border-bottom-right-radius: calc(var(--player-progress-bar-thumb-width) / 2);
    box-shadow: 1px 1px 1px #000000, 0px 0px 0px #0d0d0d;
    
}

input[type=range][orient=vertical]::-ms-thumb{
    border: 1px solid #000000;
    border-radius: 0;
    height: var(--player-progress-bar-thumb-height);
    width: var(--player-progress-bar-thumb-width);
    border-top-right-radius: calc(var(--player-progress-bar-thumb-width) / 2);
    border-bottom-right-radius: calc(var(--player-progress-bar-thumb-width) / 2);
    box-shadow: 1px 1px 1px #000000, 0px 0px 0px #0d0d0d;
}
/* --- Slider Styles --- */
input[type=range][orient=vertical]::-moz-range-track{
    height: calc(100% + 2px - (var(--player-progress-bar-thumb-width) / 2));
    width: 8px;
    cursor: pointer;
    box-shadow: 0.5px 0.5px 0.5px #000000;
    background: #e2e2e2;
    border-radius: 2px;
    border: 0.5px solid #010101;
}
/* --- */

*{
    padding: 0 !important;
    margin: 0 !important;
}

body{
    height: 100vh;
}

ul{
    list-style: none;
}

li.divider{
    height: 0px;
    border: 1px solid #000000;
    margin: 10px !important;
}

.hidden{
    display: none;    
}

#lrc-table{
    /*list-style: none;*/
}

#lrc-table li{
    display: flex;
    flex-direction: row;
}

#player-volume{
    width: inherit;
    align-items: center;
    justify-content: center;
}

.player-controls{
    height: var(--player-btn-size);
    display: flex;
}

.player-controls *{
    height: var(--player-btn-size);
    display: flex;
}

#player-progress-bar{
    width: 100%;
}

.selected{
    background-color: rgba(0, 0, 255, 0.5);
}

.show{
    background-color: green;
}

.show-content > input{
    display: flex !important;
}
.show-content > div{
    display: flex !important;
}

.table-input{
    height: 30px;
    width: 150px;
}

@media screen and (max-width: 720px){
    #player-progress-bar{
        padding: 0 5% 0 5% !important;
    }

    .player-controls{
        flex-direction: column;
        height: 22vh;
    }

    #menu-btn{
        height: 50px !important;
        width: 50px !important;
    }

    #window-menu{
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
    }

    .window-menu-content{
        height: inherit;
        width: 70%;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border-right: 1px solid #000000;
        padding: 2% !important;
    }

    .c-navbar{
        height: 50px;
    }
    .c-navbar div{
        height: 50px;
    }
    .c-content{
        height: calc(78vh - 50px);
    }
    .hide-on-720px{
        display: none;
    }
    #lrc-table{
        width: 100vw;
        padding: 5px !important;
    }
    #player-audio-controls{
        height: calc(var(--player-btn-size) * 3);
        width: var(--player-btn-size);
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    #player-audio-controls > *{
        display: none;
    }
    #player-audio-controls > button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .show-content > div{
        display: block;
    }
    .show-content > input{
        display: block;
    }
    .show-on-720px{
        display: block;
    }
    #window-import-choice{
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
    }
    #window-import-choice > div{
        height: 100%;
    }
    .window-import-choice-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border: 1px solid #000000;
        height: 100vh;
        width: 100vw;
        padding: 2% !important;
    }
    .window-import-choice-content > div{
        width: 100%;
        display: flex;
    }
    .wicc-1{
        height: 10%;
        align-items: end;
        justify-content: center;
    }
    .wicc-2{
        height: 10%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .wicc-3{
        height: 65%;
    }
    .wicc-4{
        height: 15%;
        align-items: center;
        justify-content: space-evenly;
    }
    #wicc-textarea{
        resize: none;
        width: 100%;
        height: 100%;
    }
    [id^="t-time-p-"]{
        height: 30px;
        width: 131.3px;
        border: solid 1px #000000;
    }
    [id^="t-data-p-"]{
        height: 30px;
        width: 100%;
        border: solid 1px #000000;
    }
    [id^="t-time-input-"]{
        height: 30px;
        width: 100px;
        border: solid 1px #000000;
    }
    [id^="t-data-input-"]{
        height: 30px;
        width: 100%;
        border: solid 1px #000000;
    }
}

@media screen and (min-width: 720px) {
    .player-controls{
        flex-direction: row;
    }
    .row{
        padding: 0 5% 0 5% !important;
    }
    .c-navbar{
        height: 5vh;
    }
    .hide-on-720px{
        display: block;
    }
    .show-on-720px{
        display: none;
    }
    .c-content{
        height: 80vh;
        width: 100vw;
        overflow: hidden;
    }
    #lrc-table > li{
        width: 100%;
    }
    
#player-audio-controls{
    height: var(--player-btn-size);
    width: var(--player-btn-size);
    display: flex;
    flex-direction: column-reverse;
}

#player-audio-controls > *{
    display: none;
}

#player-audio-controls > button{
    display: block;
    width: var(--player-btn-size);
}

#player-audio-controls:hover{
    height: calc(var(--player-btn-size) * 3);
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

#player-audio-controls:hover > *{
    display: flex;
}

#player-audio-controls:hover > button{
    display: none;
}

#player-audio-controls:hover > img{
    display: none;
}

    #window-import-choice{
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.548);
        overflow: auto;
    }
    #window-import-choice > div{
        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    .window-import-choice-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: white;
        border: 1px solid #000000;
        height: 500px;
        width: 500px;
        padding: 2% !important;
    }
    .window-import-choice-content > div{
        width: 100%;
        display: flex;
    }
    .wicc-1{
        height: 10%;
        align-items: start;
        justify-content: center;
    }
    .wicc-2{
        height: 10%;
        align-items: start;
        justify-content: center;
    }
    .wicc-3{
        height: 70%;
    }
    .wicc-4{
        height: 10%;
        align-items: end;
        justify-content: end;
    }
    #wicc-textarea{
        resize: none;
        width: 100%;
        height: 100%;
    }
    [id^="t-time-p-"]{
        height: 30px;
        width: 131.3px;
        border: solid 1px #000000;
    }
    [id^="t-data-p-"]{
        height: 30px;
        width: 100%;
        border: solid 1px #000000;
    }
    [id^="t-time-input-"]{
        height: 30px;
        width: 100px;
        border: solid 1px #000000;
    }
    [id^="t-data-input-"]{
        height: 30px;
        width: 100%;
        border: solid 1px #000000;
    }
}