.player-btns{
    display: flex;
    height: var(--player-btn-size) !important;
    align-items: end;
}

.player-controls{
    flex-direction: column-reverse;
    display: flex;
}

.player-controls button{
    height: var(--player-btn-size);
    border: none;
    background-color: transparent;
}

.player-controls > .col-lg-12{
    height: calc(var(--player-btn-size) / 2);
}

.player-controls img{
    height: var(--player-btn-size);
}

#player-progress-bar{
    width: 100%;
}

.player-time{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#player-volume{
    width: inherit;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 992px) {
    .player-btns{
        justify-content: space-around;
    }

    #player-progress-bar{
        padding: 0 5% 0 5% !important;
    }

    #player-audio-controls{
        height: calc(var(--player-btn-size) * 3);
        width: var(--player-btn-size);
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    #player-audio-controls > *{
        display: none;
    }

    #player-audio-controls > button{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 992px) {
    .player-btns{
        justify-content: center;
    }

    .player-controls{
        /*height: 15vh;*/
    }
    #player-audio-controls{
        height: var(--player-btn-size);
        width: var(--player-btn-size);
        display: flex;
        flex-direction: column-reverse;
    }
    
    #player-audio-controls > *{
        display: none;
    }

    #player-audio-controls > img{
        display: block;
    }
    
    #player-audio-controls > button{
        display: block;
        width: var(--player-btn-size);
    }
    
    #player-audio-controls:hover{
        height: calc(var(--player-btn-size) * 3);
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    
    #player-audio-controls:hover > *{
        display: flex;
    }
    
    #player-audio-controls:hover > button{
        display: none;
    }
    
    #player-audio-controls:hover > img{
        display: none;
    }
}