/* --- Remove Old Styles --- */
input[type=range]{
    -webkit-appearance: none;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]:focus{
    outline: none;
}

/* --- Horizontal Slider --- */
/* - Slider - */
input[type=range][orient=horizontal]::-moz-range-track{
    width: calc(100% + 2px - (var(--player-progress-bar-thumb-width) / 2));
    height: 8px;
    cursor: pointer;
    /*box-shadow: 0.5px 0.5px 0.5px #000000;*/
    box-shadow: none;
    background: #e2e2e2;
    border-radius: 2px;
    border: 0.5px solid #010101;
}

/* - Thumb - */
input[type=range][orient=horizontal]::-webkit-slider-thumb{
    border: 1px solid #000000;
    border-radius: 0;
    height: var(--player-progress-bar-thumb-height);
    width: var(--player-progress-bar-thumb-width);
    border-bottom-left-radius: calc(var(--player-progress-bar-thumb-width) / 2);
    border-bottom-right-radius: calc(var(--player-progress-bar-thumb-width) / 2);
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 0px #0d0d0d;*/
    box-shadow: none;
}

input[type=range][orient=horizontal]::-moz-range-thumb{
    border: 1px solid #000000;
    border-radius: 0;
    height: var(--player-progress-bar-thumb-height);
    width: var(--player-progress-bar-thumb-width);
    border-bottom-left-radius: calc(var(--player-progress-bar-thumb-width) / 2);
    border-bottom-right-radius: calc(var(--player-progress-bar-thumb-width) / 2);
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 0px #0d0d0d;*/
    box-shadow: none;
}

input[type=range][orient=horizontal]::-ms-thumb{
    border: 1px solid #000000;
    border-radius: 0;
    height: var(--player-progress-bar-thumb-height);
    width: var(--player-progress-bar-thumb-width);
    border-bottom-left-radius: calc(var(--player-progress-bar-thumb-width) / 2);
    border-bottom-right-radius: calc(var(--player-progress-bar-thumb-width) / 2);
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 0px #0d0d0d;*/
    box-shadow: none;
}

/* --- Vertical Slider --- */
/* - Set slider to vertical - */
input[type=range][orient=vertical]{
    writing-mode: bt-lr; /* for IE */
    -webkit-appearance: slider-vertical;
    height: 100px;
    width: 10px;
}

/* - Slider - */
input[type=range][orient=vertical]::-moz-range-track{
    height: calc(100% + 2px - (var(--player-progress-bar-thumb-width) / 2));
    width: 8px;
    cursor: pointer;
    /*box-shadow: 0.5px 0.5px 0.5px #000000;*/
    box-shadow: none;
    background: #e2e2e2;
    border-radius: 2px;
    border: 0.5px solid #010101;
}

/* - Thumb - */

input[type=range][orient=vertical]::-webkit-slider-thumb{
    border: 1px solid #000000;
    border-radius: 0;
    height: var(--player-progress-bar-thumb-height);
    width: var(--player-progress-bar-thumb-width);
    border-top-right-radius: calc(var(--player-progress-bar-thumb-width) / 2);
    border-bottom-right-radius: calc(var(--player-progress-bar-thumb-width) / 2);
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 0px #0d0d0d;*/
    box-shadow: none;
}

input[type=range][orient=vertical]::-moz-range-thumb{
    border: 1px solid #000000;
    border-radius: 0;
    height: var(--player-progress-bar-thumb-width);
    width: var(--player-progress-bar-thumb-height);
    border-top-right-radius: calc(var(--player-progress-bar-thumb-width) / 2);
    border-bottom-right-radius: calc(var(--player-progress-bar-thumb-width) / 2);
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 0px #0d0d0d;*/
    box-shadow: none;
    
}

input[type=range][orient=vertical]::-ms-thumb{
    border: 1px solid #000000;
    border-radius: 0;
    height: var(--player-progress-bar-thumb-height);
    width: var(--player-progress-bar-thumb-width);
    border-top-right-radius: calc(var(--player-progress-bar-thumb-width) / 2);
    border-bottom-right-radius: calc(var(--player-progress-bar-thumb-width) / 2);
    /*box-shadow: 1px 1px 1px #000000, 0px 0px 0px #0d0d0d;*/
    box-shadow: none;
}